.logoEM {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin: 0;
  overflow: hidden;
  will-change: transform;
}
