.home {
  margin: auto;
  padding: 10px;
}
.home__title {
  display: flex;
  justify-content: center;
}
.home__employees {
  display: flex;
  justify-content: center;
}
.homepage__text {
  display: flex;
  justify-content: center;
}
.home__button {
  display: block;
  justify-content: center;
}

.list-button {
  border-radius: 8px;
}
