.authors {
  height: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  background-color: black;
  margin: 0;
}
